* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

main {
    height: 100%;
    width: 100%;
}

.image-div {
    height: 100vh;
    width: 100%;
    background-image: url(./assets/photos/adam-miller-dBaz0xhCkPY-unsplash.jpg);
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

header {
    text-align: end;
    height: 5rem;
  
}

header i {
    font-size: 45px;
}
.burger {
    padding: 25px 30px;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 7px;
    border: none;
    z-index: 10;
    cursor: pointer;
    position: fixed;
} 
.burger span {
    height: 5px;
    background: black;
    width: 40px;
    display: block;
    z-index: 10;
    border-radius: 15px;
}

.burger span:nth-child(odd) {
    margin-right: -5px;
    transition: all 0.5s;
}

.burger:hover span:nth-child(odd) {
    margin-right: 0px;
}

.moon-div {
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid black;
    width: 20rem;
    height: 20rem;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moon-div > h1 {
    text-align: center;
    padding: 4rem 2rem;
    font-size: 4rem;
}

.end-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
}

.end-div > span {
    width: 100%;
    text-align: end;
    margin-right: 2.5rem;
}

.end-div > i {
    transition: all 1s;
    position: absolute;
    right: 15px;
}

.end-div:hover > i {
    right: 10px;
}



.burger + #menu {
    transition: all 1s;
    display: none;

}

.burger.menu-open + #menu{
    display: block;
    transition: all 1s;
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 1;
    width: 100vw;
    background-color:rgba(255, 255, 255, 0.7);
}

#menu ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#menu ul li {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 2px 2px 10px gray;
}
#menu ul li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(232, 89, 165);
}

.space-ventures{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(./assets/photos/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);

}

.background-blur {
    min-height: 100vh;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-evenly;
    font-family: 'Rubik', sans-serif;
}

.info-space{
    color:white;
    width: 30%;
    margin-top: 4rem;
}

.space-header{
    position: relative;
    font-size: 6rem;
    z-index: 1;
    text-shadow: 0px 0px 10px black;
}
.ventures-header{
    text-shadow: 0px 0px 10px black;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    font-size: 7rem;
    margin-left: 1rem;
    margin-top: -4rem;
    margin-bottom: 3rem;
    z-index: -1;
}

.info-space > h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.info-space > p{
    line-height: 1.7;
} 

.info-space > p:last-of-type {
    margin: 2rem 0 0 2rem;
    font-size: 1.7em;
    font-style: italic;
    font-weight: 100;
}

.paragraph-space {
    width: 30%;
    color: white;
    line-height: 1.7;
}

.paragraph-space > div:first-of-type {
    width:  70%;
}

.text-paragraph-image {
    width: 100%;
    position: relative;
}

.text-paragraph-image p {
    text-align: justify;
}

.text-paragraph-image div{
  width: 150px;
  height: 150px;
  background: url(./assets/photos/major_tom.jpg);
  background-size: cover;
  background-position: 50% 50%;
  float: right;
  margin: 5px;
} 

.paragraph-space div h1 {
    font-size: 2.2rem;
    margin-top: 9rem;
    font-weight: 200 !important;
    font-style: italic;
    margin-bottom: 2rem;
    background: linear-gradient(to right, rgb(243, 153, 168),
    rgb(160, 147, 147), pink, rgb(157, 145, 145));
    opacity: 0.3;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
} 

li a{
    color: black;
    text-decoration: none;
} 

.read-more {
    color: rgb(232, 89, 165);
    text-decoration: underline;
} 

.cookies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
    color: rgb(232, 89, 165);;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgb(7, 7, 28);
}

.cookies button {
    padding: 1rem 2rem;
    background-color: rgb(20, 20, 68);
    text-transform: uppercase;
    border: 0;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
      .moon-div {
        width: 17rem;
        height: 18rem;
        border: 4px solid black;
      }

      .moon-div > h1 {
        padding: 0rem 1.8rem; 
        padding-top: 1rem;
        font-size: 3.8rem;
        text-align: center;
      } 
    
      .end-div   >span {
        text-align: start;
        margin: 0 1.3rem;
    }

    .end-div > i {
        transition: all 1s;
        position: absolute;
        right: 105px;
    }

    .end-div:hover > i {
        right: 100px;
    }

    .background-blur {
        flex-direction: column;
    }

    .text-paragraph-image div{
        display: none;
      } 

      .paragraph-space {
        display: none;
      }
    
  }

  @media screen and (max-width: 1000px) {
    

  .background-blur {
    padding: 4rem;
      flex-direction: column;
      align-items: center;
  }

  .background-blur > div {
    width: 100%;
  }

  .text-paragraph-image div{
      display: none;
    } 

    .paragraph-space div:first-of-type{
      display: none;
    }
    .paragraph-space {
      margin-top: 2rem;
    }
  
}
